<html xmlns:th="http://www.thymeleaf.org">

<body>
	<nav class="nav">
	        <ul>
	          <li>
	            <a href="http://localhost:8080/product/all">All Products</a>
	          </li>
	          <li>
	          <a href="http://localhost:8080/product/test">Product test</a>
	          </li>
	          <li>
	            <a href="http://localhost:8080/hello/msg">Hello msg</a>
	          </li>
			  <li>
			   <a href="http://localhost:8080/product/insert">Insert product</a>
			  </li>
			  <li>
	          <li>
	            <a href="https://github.com/endijsbertans/JavaSpringSem4" target="_blank">Git</a>
	          </li>
	        </ul>
	      </nav>
	<table>
		<tr th:each="tempPr: ${myobjs}">
				<td th:text = "${tempPr.getId()}"></td>
				<td th:text = "${tempPr.getTitle()}"></td>
				<td th:text = "${tempPr.getDescription()}"></td>
				<td th:text = "${tempPr.getPrice()}"></td>
				<td th:text = "${tempPr.getQuantity()}"></td>

		</tr>	
	</table>
</body>

</html>